footer {
  text-align: center;
  width: 100%;
}

#navigation {
  border: none;
  border-left: 1px solid #ccc;
}

[type="checkbox"].drawer:checked + * {
  padding-top: 60px;
}

.spinner-container {
  text-align: center;
  margin: auto;
}

ul,
ol {
  padding-left: 1.5em;
}

pre[class*="language-"] {
  padding: 0.5em;
  line-height: 1em;
  border: 1px solid #dedede;
}

pre code[class*="language-"],
pre code[class*="language-"] span.token {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  #navigation {
    position: sticky;
    top: 60px;
  }
}

.content {
  margin-left: 30px;
}

h2, h3, h4, h5, h6 {
  margin-left: -30px;
}