footer {
  text-align: center;
  width: 100%;
}

#navigation {
  border: none;
  border-left: 1px solid #ccc;
}

[type="checkbox"].drawer:checked + * {
  padding-top: 60px;
}

.spinner-container {
  text-align: center;
  margin: auto;
}
